*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    height: auto;
    width: 100%;
}
.container1{
    height: 800px;
    width: 100%;
    overflow: hidden;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(./Images/Image1.jpg);
    background-size: 100% 100%;
}
.head{
    height:110px;
    width: 80%;
    margin:30px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: red; */
}
.head_left{
    height:100%;
    width: 25%;
    line-height: 110px;
    color: white;
    /* background-color: pink; */
}
.head_mid{
    height:100%;
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: pink; */
}
.head_mid_left{
    height: 100%;
    width: 45%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 90px;
    /* background-color: gray; */
}
.head_mid_right{
    height: 100%;
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 40px;
    /* background-color: rgb(186, 186, 186); */
}
.head_right{
    height:100%;
    width: 25%;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    gap: 25px;
    /* background-color: pink; */
}

.nav_bar{
    height: 65px;
    width: 70%;
    margin: auto;
    line-height: 65px;
    /* background-color: red; */
}
.list1 li{
    list-style-type: none;
    float: left;
    height: 100%;
    width: 12%;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    color: white;
    border-top: 1px solid rgb(188, 188, 188);
    border-bottom: 1px solid rgb(188, 188, 188);
    /* background-color: yellow; */
}
.list1 li:hover{
    color:  rgb(208, 136, 3);
    background-color:  rgba(16, 16, 16, 0.7);
}

#carouselExample{
    height: 400px;
    margin:100px auto 0px;
    width: 90%;
    display: flex;
    justify-content: center !important;
    align-items: center;
    flex-direction: column;
    text-align: center;
    /* background-color: aqua; */
}
#carouselExample h1{
    font-family: "Dancing Script", cursive;
    font-weight: 500;
    font-size: 60px;
    color: rgb(208, 136, 3);
}
#carouselExample h2{
    font-size: 70px;
    color: white;
}
.content1{
    height: 30px;
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    /* background-color: pink; */
}
.c1{
    height: 2px;
    width: 40%;
    border-bottom: 2px solid rgb(208, 136, 3);
}
.c2{
    height: 100%;
    width: 30px;
    border-radius: 50%;
    border: 2px solid rgb(208, 136, 3);
}
.c3{
    height: 2px;
    width: 40%;
    border-bottom: 2px solid rgb(208, 136, 3);
}
#carouselExample p{
    color: white;
    font-size: 17px;
    margin-top: 20px;
}
#carouselExample .button1{
    padding: 7px 30px;
    border: none;
    background-color: rgba(255, 255, 255, 0.7);
}
/* =================================================== */
.container2{
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(239, 239, 239);
}
.sem_cont1{
    height: 80%;
    width: 90%;
    display: flex;
    /* background-color: teal; */
}
.sem_left1{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* gap: 20px; */
    /* background-color: pink; */
}
.sem_left1 h1{
    font-family: "Dancing Script", cursive;
    font-weight: 500;
    font-size: 60px;
    color: rgb(228, 190, 21);
}
.content2{
    height: 50px;
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: yellow; */
}
.one{
    height: 8px;
    width: 20%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.two h2{
    font-weight: 700;
}
.three{
    height: 8px;
    width: 20%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.sem_left1 p{
    width: 90%;
    text-align: center;
    margin-top: 30px;
    color: gray;
}
.read{
    padding: 8px 30px;
    border-radius: 40px;
    font-weight: 600;
    border: none;
    color: white;
    background-color: rgb(248, 188, 77);
}
.sem_right1{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(146, 165, 201); */
}
.img_cont1{
    height: 90%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./Images/image2.jpg);
    background-image: 100% 100%;
}
.inner_image{
    height: 95%;
    width: 97%;
    background-color: white;
}
.inner_image img{
    margin: -20px 0px 0px -20px;
}
/* =============================================== */
.container3{
    height: 790px;
    width: 100%;
    margin-top: 40px;
    /* background-color: rgb(255, 176, 176); */
}
.top1{
    height: 180px;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    /* background-color: burlywood; */
}
.top1 h1{
    font-family: "Dancing Script", cursive;
    font-weight: 500;
    font-size: 60px;
    color: rgb(228, 190, 21);
}
.content3{
    height: 50px;
    width: 300px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: yellow; */
}
.one1{
    height: 8px;
    width: 20%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.two1 h2{
    font-weight: 700;
}
.three1{
    height: 8px;
    width: 20%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.top1 p{
    width: 60%;
    margin: auto;
    text-align: center;
    margin-top: 10px;
    /* color: gray; */
}

.bottom1{
    height: 70%;
    width: 90%;
    overflow: hidden;
    margin:30px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 1s;
    /* background-color: blueviolet; */
}
.bottom_left{
    height: 100%;
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: gray; */
}
.bottom_left button{
    border: 2px solid black;
    transition: .5s;
    padding: 5px 10px;
    border-radius: 50px;
}
.bottom_right button{
    border: 2px solid black;
    transition: .5s;
    padding: 5px 10px;
    border-radius: 50px;
}
.bottom1 button:hover{
    background-color: rgb(237, 164, 164);
}

.bottom_middle{
    height: 100%;
    width: 90%;display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    /* background-color: green; */
}
.cont1{
    height: 100%;
    width: 33.33%;
    display: flex;
    justify-content: end;
    align-items: end;
    transition: 1s;
    background-image: url(./Images/coffee.png);
    background-size: 100% 100%;
}
.graident{
    height: 45%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: .5s;
    transform: translateY(100%);
    background-color: rgba(0,0,0,0.7);
}
.cont1:hover .graident{
    transform: translateY(0%);
}

.cont2:hover .graident{
    transform: translateY(0%);
}

.cont3:hover .graident{
    transform: translateY(0%);
}
.cont4:hover .graident{
    transform: translateY(0%);
}

.graident h5{
    color: white;
}
.graident p{
    width: 80%;
    text-align: center;
    color: white;
}
.graident button{
    padding: 10px 25px;
    font-size: 12px;
    color: white;
    border-radius: none;
    border: 2px solid white;
    background: transparent;
}

.cont2{
    height: 100%;
    width: 33.33%;
    display: flex;
    justify-content: end;
    align-items: end;
    background-image: url(./Images/shakes.jpeg);
    background-size: 100% 100%;
}
.cont3{
    height: 100%;
    width: 33.33%;
    display: flex;
    justify-content: end;
    align-items: end;
    background-image: url(./Images/brakfast.webp);
    background-size: 100% 100%;
}

.cont4{
    height: 100%;
    width: 33.33%;
    display: flex;
    justify-content: end;
    align-items: end;
    position: absolute;
    right: -33.33%;
    background-image: url(./Images/image2.jpg);
    background-size: 100% 100%;
}
/* .cont5{
    height: 100%;
    width: 33.33%;
    display: flex;
    justify-content: end;
    align-items: end;
    position: absolute;
    right: -66.66%;
    background-image: url(./Images/Image1.jpg);
    background-size: 100% 100%;
} */
.bottom_right{
    height: 100%;
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(128, 128, 128); */
}
/* =================================================== */

.conatainer4{
    height: 1200px;
    width: 100%;
}
.top2{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    /* background-color: red; */
}
.left2{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    /* background-color: green; */
}
.left2 h1{
    font-size: 40px;
}
.left2 p{
    letter-spacing: 3px;
    font-size: 20px;
    color: rgb(248, 188, 77);
}
.left2 span{
    margin-top: 30px;
    font-size: 17px;
    color: gray;
    width: 600px;
}
.left2 button{
    padding: 12px 30px;
    border-radius: 30px;
    margin-top: 50px;
    border: none;
    background-color: rgb(228, 190, 21);
    color: white;
}
.right2{
    height: 100%;
    width: 50%;
    background-image: url(./Images/resto1.png);
    background-size: 100% 100%;
    /* background-color: rgb(116, 151, 116); */
}
.bottom2{
    height: 50%;
    width: 100%;
    background-color: rgb(189, 112, 206);
}
/* ============================================ */
.container5{
    height: 750px;
    width: 100%;
    background-color: rgb(241, 241, 241);
    background-image:url(./Images/fastfood-removebg-preview.png);
    background-size: 100% 100%;
}
.top3{
    height: 120px;
    width: 80%;
    margin:40px auto;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    /* background-color: burlywood; */
}
.top3 h1{
    text-align: center;
    font-family: "Dancing Script", cursive;
    font-weight: 500;
    font-size: 60px;
    color: rgb(228, 190, 21);
}
.content42{
    height: 50px;
    width: 420px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: yellow; */
}
.one2{
    height: 8px;
    width: 20%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.two2 h2{
    font-weight: 600;
}
.three2{
    height: 8px;
    width: 20%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.bottom3{
    height: 550px;
    width: 76%;
    /* background-color: burlywood; */
}
.form{
    height: 100%;
    width: 56%;
    margin: auto;   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    gap: 20px;
    border-radius: 10px;
    background-color: white;
    border: 3px solid rgb(105, 105, 105);
    /* background-color: palevioletred; */
}
.quote{
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 90px;
    border-radius: 5px;
    background-color: rgb(225, 221, 101);
}
.client{
    height: 160px;
    width: 160px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid rgb(225, 221, 101);
}
.form h5 span{
    font-size: 15px;
    color: rgb(228, 190, 21);
}
.form p{
    width: 90%;
    text-align: center;
    color: gray;
}
.form button {
    border: 2px solid black;
    padding: 10px 15px;
    border-radius: 50%;
}

/* ======================================== */

.container6{
    height: 1000px;
    width: 100%;
}
.top4{
    height: 180px;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    /* background-color: burlywood; */
}
.top4 h1{
    font-family: "Dancing Script", cursive;
    font-weight: 500;
    font-size: 60px;
    color: rgb(228, 190, 21);
}
.content4{
    height: 50px;
    width: 300px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: yellow; */
}
.one2{
    height: 8px;
    width: 20%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.two2 h2{
    font-weight: 700;
}
.three2{
    height: 8px;
    width: 20%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.top4 p{
    width: 60%;
    margin: auto;
    text-align: center;
    margin-top: 10px;
    /* color: gray; */
}

.bottom4{
    height: 650px;
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    /* background-color: orange; */
}
.bottom4_upper{
    height: 47%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: pink; */
}
.bottom4_lower{
    height: 47%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: pink; */
}
#bt1{
    border: none;
    color: white;
    background-color: rgb(234, 179, 77);
    margin:35px 0px 0px 670px;
    padding: 15px 60px;
    border-radius: 50px;
}
/* ===================================================== */
.container7{
    height: 800px;
    width: 100%;
    padding-top: 30px;
    background-image: linear-gradient(rgba(88, 5, 5, 0.8),rgba(88, 5, 5, 0.8)) ,url(./Images/Image1.jpg);
    background-size: 100% 100%;
}
.top5{
    height: 180px;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    /* background-color: burlywood; */
}
.top5 h1{
    font-family: "Dancing Script", cursive;
    font-weight: 500;
    font-size: 60px;
    color: rgb(228, 190, 21);
}
.content5{
    height: 50px;
    width: 600px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: yellow; */
}
.one3{
    height: 8px;
    width: 15%;
    border-top: 2px solid rgb(255, 255, 255);
    border-bottom: 2px solid rgb(255, 255, 255);
}
.two3 h2{
    font-weight: 700;
}
.three3{
    height: 8px;
    width: 15%;
    border-top: 2px solid rgb(255, 255, 255);
    border-bottom: 2px solid rgb(255, 255, 255);
}
.top5 p{
    width: 60%;
    margin: auto;
    text-align: center;
    margin-top: 10px;
    color: white;
}
.bottom5{
    height: 59%;
    width: 55%;
    margin:60px auto;
    /* background-color: orange; */
}
.bottom5 input{
    width: 46%;
    margin:10px 15px;
    padding: 10px 20px;
    border: 2px solid white;
    background: transparent;
}
.bottom5 input::placeholder{
    color: rgb(205, 205, 205);
}
#bt2{
    border: none;
    color: white;
    background-color: rgb(234, 179, 77);
    margin:35px 0px 0px 320px;
    /* margin: auto; */
    padding: 15px 60px;
    border-radius: 50px;
}
/* ================================================= */
.container8{
    height: 800px;
    width: 100%;
    margin-top: 50px;
}
.top6{
    height: 120px;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    /* background-color: burlywood; */
}
.top6 h1{
    font-family: "Dancing Script", cursive;
    font-weight: 500;
    font-size: 60px;
    color: rgb(228, 190, 21);
}
.content12{
    height: 50px;
    width: 300px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: yellow; */
}
.one4{
    height: 8px;
    width: 20%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.two4 h2{
    font-weight: 700;
}
.three4{
    height: 8px;
    width: 20%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.bottom6{
    height: 600px;
    width: 80%;
    margin:50px auto 0px;
    display: flex;
    justify-content: space-between;
    /* background-color: greenyellow; */
}
.bottom6_ka_Left_container{
    height: 100%;
    width: 48%;
    /* background-color: red; */
}
.bottom6_ka_text1{
    height: 80px;
    width: 200px;
}
.bottom6_ka_image_container{
    height: 100px;
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: yellow; */
}
.bottom6_ke_image_container_ki_image{
    height: 100%;
    width: 16%;
    border-radius: 50%;
    overflow: hidden;
    /* background-color: yellowgreen; */
}
.bottom6_ke_image_container_ka_text{
    height: 100%;
    width: 80%;
    /* background-color: pink; */
}
.bottom6_ke_image_container_ka_text_upper{
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: violet; */
    line-height: 30px;
}
.bottom6_ke_image_container_ka_text_upper h5{
    font-weight: 700;
}

.bottom6_ke_image_container_ka_text_upper h6{
    font-weight: 700;
}
.Line{
    height: 20%;
    width: 58%;
    border-bottom: 2px solid black;
}
/* ===================================================== */
.container9{
    height: 700px;
    width: 100%;
    /* background-color: pink; */
}
.top7{
    height: 180px;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    /* background-color: burlywood; */
}
.top7 h1{
    font-family: "Dancing Script", cursive;
    font-weight: 500;
    font-size: 60px;
    color: rgb(228, 190, 21);
}
.content6{
    height: 50px;
    width: 230px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: yellow; */
}
.one5{
    height: 8px;
    width: 20%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.two5 h2{
    font-weight: 700;
}
.three5{
    height: 8px;
    width: 20%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.top7 p{
    width: 60%;
    margin: auto;
    text-align: center;
    margin-top: 10px;
    /* color: gray; */
}

.bottom7{
    height: 60%;
    width: 90%;
    margin:50px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: red; */
}
.sem_cont2{
    height: 100%;
    width: 23%;
    /* background-color: violet; */
}
.bottom7_upper{
    height: 80%;
    width: 100%;
    /* background-color: aqua; */
}
.bottom7_lower{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: yellow; */
}
/* ============================================ */

.container10{
    height: 700px;
    width: 100%;
}
.top8{
    height: 120px;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    /* background-color: burlywood; */
}
.top8 h1{
    font-family: "Dancing Script", cursive;
    font-weight: 500;
    font-size: 60px;
    color: rgb(228, 190, 21);
}
.content7{
    height: 500px;
    width: 230px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: yellow; */
}
.one6{
    height: 8px;
    width: 20%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.two6 h2{
    font-weight: 700;
}
.three6{
    height: 8px;
    width: 20%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.top8 p{
    width: 60%;
    margin: auto;
    text-align: center;
    margin-top: 10px;
    /* color: gray; */
}
.bottom81{
    height: 60%;
    width: 80%;
    margin:50px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: red; */
}
.sem_cont34{
    height: 100%;
    position: relative;
    width: 49%;
    /* background-color: violet; */
}
.bottom81_upper{
    height: 80%;
    width: 100%;
    /* background-color: aqua; */
}
.bottom81_lower{
    height: 50%;
    width: 90%;
    /* margin:-30px auto ; */
    position: absolute;
    top: 240px;
    left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(249, 249, 249);
}
.bottom81_lower button{
    padding: 10px 20px;
    border: none;
    background-color: black;
    color: white;
}
/* ========================================== */
.container11{
    height: 300px;
    width: 100%;
    background-image:linear-gradient(rgba(88, 5, 5, 0.8),rgba(88, 5, 5, 0.8))  ,url(./Images/Image1.jpg);
    background-size: 100% 100%;
}
.top8{
    height: 120px;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    /* background-color: burlywood; */
}
.top8 h1{
    font-family: "Dancing Script", cursive;
    font-weight: 500;
    font-size: 60px;
    color: rgb(228, 190, 21);
}
.content7{
    height: 50px;
    width: 300px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: yellow; */
}
.one6{
    height: 8px;
    width: 20%;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}
.two6 h2{
    font-weight: 700;
}
.three6{
    height: 8px;
    width: 20%;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}
.bottom312{
    height: 70px;
    width: 80%;
    margin: auto;
    /* background-color: aqua; */
}
.bottom312 input{
    width: 38%;
    padding: 14px;
}
.bottom312 button{
    padding: 14px 60px;
    background-color: rgb(228, 190, 21);
    color: white;
    border: none;

}
/* =================================================== */
.container12{
    height: 500px;
    width: 100%;
    overflow: hidden;
    background-color: rgb(86, 12, 12);
}
.sem_cont3{
    height: 85%;
    width: 80%;
    margin:30px auto;
    display: flex;
    justify-content: space-between;
    align-self: center;
    color: white;
}
.last_left{
    height: 100%;
    width: 36%;
    /* background-color: gray; */
}
.last_left h4{
    text-align: center;
}
.days{
    height: 80%;
    width: 100%;
    margin-top: 40px;
    position: relative;
    border: 2px solid white;
}
.left4{
    height: 90%;
    width: 40%;
    padding: 10px 10px;
    /* background-color: pink; */
}
.list2 li{
    list-style-type: none;
    font-size: 18px;
    float: left;
    padding-top: 17px;
}
.right4{
    height: 100%;
    width: 40%;
    float: right;
    position: absolute;
    right: 30px;
    top: 20px;
    /* background-color: red; */
}
.list3 li{
    list-style-type: none;
    font-size: 16px;
    float: right;
    padding-top: 19px;
}
.micll{
    height: 100%;
    width: 36%;
    /* background-color: red; */
}
.micll{
    text-align: center;
}
.micll p{
    width: 80%;
    margin:60px auto 0px;
}
.micll span{
    padding-top: 130px;
    color: rgb(228, 190, 21);
}
.micll h2{
    margin-top: 20px;
}
.lasty{
    height: 100%;
    width: 20%;
    text-align: center;
}
.apple{
    color: gray;
    margin-top: -20px;
    margin-left: 600px;
}
.lasty h4{
    margin: 30px 40px;
    letter-spacing: 5px;
    writing-mode: vertical-lr;
}